.game-ui {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 454px;
    height: 454px;
    border: 2px solid blue;
    margin: 0px auto;
    margin-top: 30px;
}

.cell {
    width: 150px;
    height: 150px;
    border: 1px solid blue;
    background-color: lightblue;
    font-size: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.restart {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border:none;
    border-radius: 7px;
    background-color: lightgreen;
    color:  white;
    font-size: 30px;
}
.center {
    display: flex;
    justify-content: center;
}